.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.header-logo {
    align-items: center;
}

.header-logo h1 {
    font-size: 60px;
    font-family: "Parisienne";
}

.header-left {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.shoppingbag {
    display: flex;
    align-items: center;
}

.header .icon {
    color: black;
    font-size: 25px;
}

.avatar {
    /* Rounded border */
    border-radius: 50%;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Size */
    height: 4rem;
    width: 4rem;
}

.avatar__image {
    /* Size */
    height: 60%;
    width: 60%;
    border-radius: 50%;
}

.avatar__image:hover {
    border: 1px solid #f7ecde;
}

#menu_icon_1 {
    position: absolute;
    top: 75px;
    right: 10px;
    width: 200px;
    height: 300px;
    background: #f7ecde;
}

#menu_icon_1 a {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
}

#menu_icon_2 {
    position: absolute;
    top: 75px;
    right: 10px;
    width: 200px;
    height: 50px;
    background: white;
}

#menu_icon_2 a {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
}

#Menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7ecde;
}

#Menu ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#Menu a {
    font-family: "Abhaya Libre";
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin-right: 50px;
}

#Menu a:hover {
    color: #e28616;
}

/* Footer */
.Footer {
    width: 100%;
    height: 250px;
    margin-top: 200px; 
    background-color: #ffe5c3;
}

.Fo-nav {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #f7ecde;
}

.Fo-nav h1 {
    width: 20%;
    text-align: center;
    font-family: "Parisienne";
    font-size: 60px;
    margin-top: 60px;
}

.Fo-nav table {
    width: 20%;
    margin-right: 50px;
    font-size: 25px;
}

.Fo-nav table a {
    color: black;
    text-decoration: none;
}

#Social {
    margin-top: 10px;
    margin-left: 60px;
}

#Social .icon {
    margin-left: 20px;
    font-size: 35px;
    color: #000;
}