* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre';
}

body {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* Menu */
#menu {
    width: 100%;
    height: 50px;
    background-color: #f7ecde;
    font-family: "Abhaya Libre";

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#menu ul {
    display: flex;
    margin-top: 42px;
}

#service {
    flex-grow: 0.9;
}

#menu ul li {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 30px;
}

#menu ul li a:link {

    font-size: 25px;
    color: black;
    text-decoration: none;
}

#menu ul li a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

#menu ul li a:hover {
    color: #FFF;
}


/* Product details select */
.product img {
    margin-left: 250px;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

#product-name {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#details {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 700px;
    font-family: "Abhaya Libre";
    font-size: 22px;
}

#details p {
    padding-bottom: 20px;
}

#selectsize {
    width: 185px;
    margin-left: 49px;
    height: 30px;
}

#selecttype {
    width: 185px;
    margin-left: 40px;
    height: 30px;
}

#buttonAmount {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background-color: #ffd092;
    color: white; 
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#demoInput {
    width: 100px;
    margin-left: 10px;
    height: 30px;
}

#Buy,
#AddtoCart {
    background-color: #ffd092;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    margin-right: 33px;
    font-size: 18px;
    font-family: "Abhaya Libre";
    color: white;
}

.describe {
    background-color: #f7ecde;
    margin-top: 7%;
    height: 220px;
}

.describe h2 {
    padding-top: 1%;
    text-align: center;
    font-size: 30px;
}

.describe p {
    font-family: "Abhaya Libre";
    margin-top: 10px;
    margin-left: 20px;
    background-color: white;
    height: 120px;
    width: 97%;
    border-radius: 30px;
    padding-top: 12px;
    padding-left: 50px;
    font-size: 20px;
}

/* Product Review */
.review {
    background-color: #f7ecde;
    height: 65%;
    border: none;
    margin-top: 0.5%;
}

.review h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

#avatar {
    margin-top: 5px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.review p {
    margin-top: 10px;
    padding-left: 80px;
}

#nameacount {
    margin-bottom: 50px;

}

.review textarea {
    border-radius: 10px;
    border: 1px solid black;
    padding-top: 3px;
    padding-left: 10px;
    font-size: 17px;
    font-family: "Abhaya Libre";
}

#send {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    border-radius: 10px;
    height: 28px;
    width: 70px;
    margin-left: 10px;
    border: 1px solid black;
}

#customercomment {
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 20px;
    width: 1250px;
    height: 280px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 97%;
}

#customercomment1 {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: -120px;
    margin-top: -250px;
    line-height: 35px;
}

.maybelike {
    padding-top: 1.5%;
    padding-left: 10px;
    position: absolute;
}

.maybelike h2 {
    padding-left: 20px;
    padding-bottom: 1.5%;
}

ul {
    display: flex;
    list-style: none;
}

ul li img {
    height: 100px;
    width: 100px;
    margin-right: 80px;
    border-radius: 20px;
}