*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre';
}
body{
    width: 100%;
    height: 100vh;
}


a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* CATEGORY */
h2 {
    text-align: center;
    font-size: 30px;
}

p {
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-top: 3px;
}

.hr1 {
    width: 150px;
    margin-top: 0;
}

hr {
    border: 1px solid rgb(138, 137, 137, 0.5);
    width: 90%;
    margin-top: 300px;
}

.tagname-product {
    margin-left: 30px;
    text-align: center;
    font-size: 25px;
    width: 120px;
    height: 40px;
    background-color: rgba(255, 217, 217, 1);
    border-radius: 50px;
}

#all {
    position: absolute;
    margin-top: -55px;
    font-size: 25px;
    margin-left: 1140px;
}

span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul.product {
    display: flex;
    list-style: none;
}

ul.product li img {
    height: 180px;
    width: 180px;
    margin-right: 80px;
    border-radius: 20px;
}
#space{
    border: 1px solid white;
    margin-bottom: -200px;
}