*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre';
}
body{
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* CATEGORY */
h2 {
    text-align: center;
    font-size: 30px;
}

p {
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-top: 3px;
}

.hr1 {
    width: 150px;
    margin-top: 0;
    margin-left: 45%;
}

hr {
    border: 1px solid rgb(138, 137, 137, 0.5);
    width: 90%;
    margin: auto;
}
#product-list{
    height: 1200px;
    display: flex;
    flex-direction: column;
}
.frame-product{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #FFD9D9;
}
.tagname-product {
    display: flex;
    flex-direction: column;
}

#all {
    position: absolute;
    margin-top: -55px;
    font-size: 25px;
    margin-left: 1140px;
}

span{
    text-align: center;
}
ul.product {
    display: flex;
    list-style: none;
}

ul.product li img {
    height: 180px;
    width: 180px;
    margin-right: 80px;
    border-radius: 20px;
}
#space{
    border: 1px solid white;
    margin-bottom: -200px;
}